{{/*
Purpose: Renders a secondary download/resource link

Parameters (dict):
  url      (string, required): Link destination
  text     (string, required): Link text
  event    (string, optional): Plausible analytics event name
  class    (string, optional): Additional CSS classes

Usage in templates:
  {{ partial "links/download.html" (dict "url" "/file.pdf" "text" "Download PDF") }}

Important Notes:
- Gray color, less prominent than CTAs
- No arrow icon
*/}}

{{- $url := .url -}}
{{- $text := .text -}}
{{- $event := .event | default "" -}}
{{- $extraClass := .class | default "" -}}

{{- $class := "download-link" -}}
{{- if $extraClass }}{{ $class = printf "%s %s" $class $extraClass }}{{ end -}}
{{- if $event }}{{ $class = printf "%s plausible-event-name=%s" $class $event }}{{ end -}}

<a href="{{ $url }}" class="{{ $class }}">{{ $text }}</a>
